/* slider.css */

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background: url('../Assets/orengeredBike.jpg') no-repeat center center;
  background-size: cover; /* Keeps the image covered, might crop */
  background-position: center; /* Ensures image is centered */
  border: 30px solid #ffffff; /* Border around the slider */
  height: 70vh; /* Adjusted height */
  position: relative;
  color: #fff;
  border-radius: 50px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adds shadow */
}


.slider-left {
    flex: 1;
    max-width: 480px;
    padding: 20px;
    position: relative;
}

.hand-hand-icon {
    margin-bottom: 20px;
}

.hand-hand-icon video {
    width: 39%;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgb(13, 13, 13);
}

.slider-left p {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0;
    color: #fff; /* Text color to stand out on the background */
}

.slider-left p:first-of-type {
    font-size: 2.5rem;
    color: #ff5722; /* Accent color for emphasis */
}

.slider-left p:last-of-type {
    font-size: 2rem;
}

.slider-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.slider-right img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
