/* item.css */
.item {
    border: 1px solid #ccc;
    padding: 16px;
    text-align: center;
}

.item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.item-prices {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 8px;
}

.item-price-new {
    color: green;
    font-weight: bold;
}

.item-price-old {
    color: red;
    text-decoration: line-through;
}
